# Project: Data Warehouse
## Import libraries

In [1]:
import pandas as pd
import boto3
import json

## STEP 0: Save the AWS Access key

### 1. Create a new IAM user
IAM service is a global service, meaning newly created IAM users are not restricted to a specific region by default.
- Go to [AWS IAM service](https://console.aws.amazon.com/iam/home#/users) and click on the "**Add user**" button to create a new IAM user in AWS account. 
- Specify user details: Choose a user name. In this case, user name is **"minhht"** 
- Set permissions     : Choose the **Attach policies directly** tab, and select the "**AdministratorAccess**". Click Next. 
- Review and create the user: Click Create user
- Create the pair of access key ID and secret: Click **minhht** and choose **Security credentials** tab. Click **Create access key**.
 + Access key best practices & alternatives: Choose **other**.
 + Set description tag (optional): Skip this step and click **Create access key**
 + Retrieve access keys: click **Download .csv file**. In this file, there are **Access key** and **Secret access key**

<center>
<img style="float: center;height:450px;" src="images/AWS_IAM.png"><br><br>
Snapshot of user "minhht"
</center>

### 2. Save the new access key ID and secret in the file `dwh.cfg`
Edit the file `dwh.cfg` in the same folder as this notebook and save the access key and secret against the following variables:
```bash
KEY= <AWS_KEY>
SECRET= <AWS_SECRET>
```

### 3. Load DWH Params from `dwh.cfg` file

In [2]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param        Value
0        DWH_CLUSTER_TYPE  single-node
1           DWH_NUM_NODES            1
2           DWH_NODE_TYPE    dc2.large
3  DWH_CLUSTER_IDENTIFIER   dwhCluster
4                  DWH_DB          dwh
5             DWH_DB_USER      dwhuser
6         DWH_DB_PASSWORD     Passw0rd
7                DWH_PORT         5439
8       DWH_IAM_ROLE_NAME      dwhRole

### 4. Create clients for IAM, EC2, S3 and Redshift
These resources will be created in the the **us-west-2** region.

In [3]:
import boto3

ec2 = boto3.resource('ec2',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-west-2'
                  )

redshift = boto3.client('redshift',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

### 5. Check out the sample data sources on S3

In [4]:
sampleDbBucket =  s3.Bucket("awssampledbuswest2")
for obj in sampleDbBucket.objects.filter(Prefix="ssbgz"):
    print(obj)

s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/customer0002_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/dwdate.tbl.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0000_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0001_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0002_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0003_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0004_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0005_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0006_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0007_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/part0000_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/part0001_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/part0002_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/part0003_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/supplier.tbl_0000_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/supplier0001_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/supplier0002_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/supplier0003_part_00.gz')

## STEP 1: Create a new IAM Role
Create an IAM Role that makes Redshift able to access S3 bucket (ReadOnly)

In [5]:
from botocore.exceptions import ClientError

try:
    print("1.1 Creating a new IAM Role") 
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )    
except Exception as e:
    print(e)
    
    
print("1.2 Attaching Policy - Make Redshift able to access S3 bucket (ReadOnly)")

iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

print("1.3 Get the IAM role ARN")
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

print(roleArn)

1.1 Creating a new IAM Role
1.2 Attaching Policy - Make Redshift able to access S3 bucket (ReadOnly)
1.3 Get the IAM role ARN
arn:aws:iam::306479194922:role/dwhRole

## STEP 2:  Create a Redshift Cluster

Create a RedShift Cluster

In [6]:
try:
    response = redshift.create_cluster(        
        #HW
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        #Identifiers & Credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
        #Roles (for s3 access)
        IamRoles=[roleArn]  
    )
except Exception as e:
    print(e)

### 2.1 *Describe* the cluster to see its status
This block will be run several times until the cluster status becomes `Available`

In [10]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.cpvcb67wulhg.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-046f131d8b4abbc2a
7,NumberOfNodes,1

### 2.2 Take note of the cluster endpoint and role ARN

In [11]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

DWH_ENDPOINT ::  dwhcluster.cpvcb67wulhg.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::306479194922:role/dwhRole

Edit the file `dwh.cfg` in the same folder as this notebook and save the cluster endpoint and role ARN against the following variable:
```bash
HOST= <cluster_endpoint>
ARN= <role_ARN>
```

## STEP 3: Open an incoming  TCP port to access the cluster endpoint

In [12]:
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    defaultSg.authorize_ingress(
        GroupName=defaultSg.group_name,
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP',
        FromPort=int(DWH_PORT),
        ToPort=int(DWH_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-0ae23fba77290eb1f')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

## STEP 4: Run `create_tables.py` to create staging, fact, and dimension tables in Redshift database

Run `create_tables.py` to execute DROP and CREATE TABLE statements

In [1]:
# Uncomment and run create_tables.py in the notebook
#%run create_tables.py

## STEP 5: Run `etl.py` to load data from S3 to staging tables on Redshift and from staging tables to analytics tables on Redshift.

Run `etl.py` to execute COPY and INSERT statements

In [2]:
# Uncomment and run create_tables.py in the notebook
#%run etl.py

## STEP 6: Run the analytic queries and compare the results to the expected results.

<center>
<img style="float: center;height:450px;" src="images/expected_results.png"><br><br>
Snapshot of an expected results
</center>

In [ ]:
# Check staging_events table
query = """
SELECT COUNT(*) FROM staging_events
"""
%sql $query

In [ ]:
# Check staging_songs table
query = """
SELECT COUNT(*) FROM staging_songs
"""
%sql $query

In [ ]:
# Check songplay table
query = """
SELECT COUNT(*) FROM songplay
"""
%sql $query

In [ ]:
# Check users table
query = """
SELECT COUNT(*) FROM users
"""
%sql $query

In [ ]:
# Check songs table
query = """
SELECT COUNT(*) FROM songs
"""
%sql $query

In [ ]:
# Check artists table
query = """
SELECT COUNT(*) FROM artists
"""
%sql $query

In [ ]:
# Check time table
query = """
SELECT COUNT(*) FROM time
"""
%sql $query

## ** **THE FOLLOWING CODES HAVE THE SAME FUNCTION AS RUNNING `create_tables.py` AND `etl.py`. THEY ARE USED TO EASILY DEBUG THE CODE** **

In [13]:
%load_ext sql

In [14]:
# Connect to Redshift database
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cpvcb67wulhg.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [15]:
# Drop staging_events table if it exists
query = """
DROP TABLE IF EXISTS staging_events;
"""
%sql $query

 * postgresql://dwhuser:***@dwhcluster.cpvcb67wulhg.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [16]:
# Create staging_events table
query = """
CREATE TABLE staging_events (
artist          TEXT       ,
auth            VARCHAR(20),
firstName       VARCHAR(25),
gender          VARCHAR(5) ,
itemInSession   INTEGER    ,
lastName        VARCHAR(25),
length          NUMERIC    ,
level           VARCHAR(10),
location        TEXT       ,
method          VARCHAR(10),
page            VARCHAR(20),
registration    NUMERIC    ,
sessionId       INTEGER    ,
song            TEXT       ,
status          INTEGER    ,
ts              BIGINT     ,
userAgent       TEXT       ,
userId          TEXT
);
"""
%sql $query

 * postgresql://dwhuser:***@dwhcluster.cpvcb67wulhg.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [17]:
# Load data from S3 to staging_events table
query = ("""copy staging_events from {}
credentials 'aws_iam_role={}'
compupdate off region 'us-west-2' JSON {}
""").format(config.get("S3","LOG_DATA"), config.get("IAM_ROLE","ARN"), config.get("S3","LOG_JSONPATH"))
%sql $query

 * postgresql://dwhuser:***@dwhcluster.cpvcb67wulhg.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [18]:
# Check staging_events table
query = """
SELECT COUNT(*) FROM staging_events
"""
%sql $query

 * postgresql://dwhuser:***@dwhcluster.cpvcb67wulhg.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8056,)]

In [19]:
# Drop staging_songs table if it exists
query = """
DROP TABLE IF EXISTS staging_songs;
"""
%sql $query

 * postgresql://dwhuser:***@dwhcluster.cpvcb67wulhg.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [20]:
# Create staging_songs table
query = """
CREATE TABLE staging_songs (
song_id             TEXT   ,
num_songs           INTEGER,
title               TEXT   ,
artist_name         TEXT   ,
artist_latitude     NUMERIC,
year                INTEGER,
duration            NUMERIC,
artist_id           TEXT   ,
artist_longitude    NUMERIC,
artist_location     TEXT   
);
"""
%sql $query

 * postgresql://dwhuser:***@dwhcluster.cpvcb67wulhg.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [21]:
# Load data from S3 to staging_songs table
query = ("""copy staging_songs from {}
credentials 'aws_iam_role={}'
compupdate off region 'us-west-2' JSON 'auto';
""").format(config.get("S3","SONG_DATA"), config.get("IAM_ROLE","ARN"))
%sql $query

 * postgresql://dwhuser:***@dwhcluster.cpvcb67wulhg.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [22]:
# Check staging_songs table
query = """
SELECT COUNT(*) FROM staging_songs
"""
%sql $query

 * postgresql://dwhuser:***@dwhcluster.cpvcb67wulhg.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [92]:
# Drop songplay table (fact table) if it exists
query = """
DROP TABLE IF EXISTS songplay;
"""
%sql $query

 * postgresql://dwhuser:***@dwhcluster.cpvcb67wulhg.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [93]:
# Create songplay table (fact table)
query = """
CREATE TABLE songplay (
songplay_id     BIGINT         IDENTITY(0,1) PRIMARY KEY,
start_time      TIMESTAMP      NOT NULL      SORTKEY    ,
user_id         TEXT           NOT NULL      DISTKEY    ,
level           VARCHAR(10)                             ,
song_id         TEXT                                    ,
artist_id       TEXT                                    ,
session_id      INTEGER                                 ,
location        TEXT                                    ,
user_agent      TEXT           
)
"""
%sql $query

 * postgresql://dwhuser:***@dwhcluster.cpvcb67wulhg.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [94]:
# Load data from staging tables to songplay (fact) table
query = """INSERT INTO songplay (start_time, user_id, level, song_id, artist_id, session_id, location, user_agent)
WITH temp_time AS (SELECT TIMESTAMP 'epoch' + (ts/1000 * INTERVAL '1 second') AS ts_convert, ts FROM staging_events)
SELECT DISTINCT t.ts_convert    AS   start_time,
                e.userId        AS   user_id   ,
                e.level                        ,
                s.song_id                      ,
                s.artist_id                    ,
                e.sessionId     AS   session_id,
                e.location                     ,
                e.userAgent     AS   user_agent 
FROM staging_events e JOIN staging_songs s ON (e.artist = s.artist_name) JOIN temp_time t ON t.ts = e.ts
WHERE e.page = 'NextSong'
"""
%sql $query

 * postgresql://dwhuser:***@dwhcluster.cpvcb67wulhg.us-west-2.redshift.amazonaws.com:5439/dwh
9957 rows affected.

[]

In [85]:
# Check songplay table
query = """
SELECT COUNT(*) FROM songplay
"""
%sql $query

 * postgresql://dwhuser:***@dwhcluster.cpvcb67wulhg.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(9957,)]

In [28]:
# Drop users table if it exists
query = """
DROP TABLE IF EXISTS users;
"""
%sql $query

 * postgresql://dwhuser:***@dwhcluster.cpvcb67wulhg.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [29]:
# Create users table (dimension table)
query = """
CREATE TABLE users (
user_id          TEXT           NOT NULL PRIMARY KEY SORTKEY,
first_name       VARCHAR(25)                                ,
last_name        VARCHAR(25)                                ,
gender           VARCHAR(5)                                 ,
level            VARCHAR(10)     
)
"""
%sql $query

 * postgresql://dwhuser:***@dwhcluster.cpvcb67wulhg.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [30]:
# Load data from staging tables to users (dimension) table
query = """INSERT INTO users (user_id, first_name, last_name, gender, level)
SELECT DISTINCT userId        AS   user_id   ,
                firstName     AS   first_name,
                lastname      AS   last_name ,
                gender                       ,
                level                        
FROM staging_events 
"""
%sql $query

 * postgresql://dwhuser:***@dwhcluster.cpvcb67wulhg.us-west-2.redshift.amazonaws.com:5439/dwh
107 rows affected.

[]

In [31]:
# Check users table
query = """
SELECT COUNT(*) FROM users
"""
%sql $query

 * postgresql://dwhuser:***@dwhcluster.cpvcb67wulhg.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(107,)]

In [32]:
# Drop songs table if it exists
query = """
DROP TABLE IF EXISTS songs;
"""
%sql $query

 * postgresql://dwhuser:***@dwhcluster.cpvcb67wulhg.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [33]:
# Create songs table (dimension table)
query = """
CREATE TABLE songs (
song_id         TEXT           NOT NULL PRIMARY KEY SORTKEY,
title           TEXT                                       ,
artist_id       TEXT                                DISTKEY,
year            INTEGER                                    ,
duration        NUMERIC        
);
"""
%sql $query

 * postgresql://dwhuser:***@dwhcluster.cpvcb67wulhg.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [34]:
# Load data from staging tables to songs (dimension) table
query = ("""INSERT INTO songs (song_id, title, artist_id, year, duration)
SELECT DISTINCT song_id  ,
                title    ,
                artist_id,
                year     ,
                duration                      
FROM staging_songs
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.cpvcb67wulhg.us-west-2.redshift.amazonaws.com:5439/dwh
14896 rows affected.

[]

In [35]:
# Check songs table
query = """
SELECT COUNT(*) FROM songs
"""
%sql $query

 * postgresql://dwhuser:***@dwhcluster.cpvcb67wulhg.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [36]:
# Drop artists table if it exists
query = """
DROP TABLE IF EXISTS artists;
"""
%sql $query

 * postgresql://dwhuser:***@dwhcluster.cpvcb67wulhg.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [37]:
# Create artists table (dimension table)
query = """
CREATE TABLE artists (
artist_id           TEXT           NOT NULL PRIMARY KEY SORTKEY,
name                TEXT                                       ,
location            TEXT                                       ,
latitude            NUMERIC                                    ,
longitude           NUMERIC        
);
"""
%sql $query

 * postgresql://dwhuser:***@dwhcluster.cpvcb67wulhg.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [38]:
# Load data from staging tables to artists (dimension) table
query = ("""INSERT INTO artists (artist_id, name, location, latitude, longitude)
SELECT DISTINCT artist_id                         ,
                artist_name         AS   name     ,
                artist_location     AS   location ,
                artist_latitude     AS   latitude ,
                artist_longitude    AS   longitude
FROM staging_songs 
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.cpvcb67wulhg.us-west-2.redshift.amazonaws.com:5439/dwh
10025 rows affected.

[]

In [39]:
# Check artists table
query = """
SELECT COUNT(*) FROM artists
"""
%sql $query

 * postgresql://dwhuser:***@dwhcluster.cpvcb67wulhg.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(10025,)]

In [106]:
# Drop time table if it exists
query = """
DROP TABLE IF EXISTS time;
"""
%sql $query

 * postgresql://dwhuser:***@dwhcluster.cpvcb67wulhg.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [107]:
# Create time table (dimension table)
query = """
CREATE TABLE time (
start_time      TIMESTAMP      NOT NULL PRIMARY KEY SORTKEY,
hour            SMALLINT                                   ,
day             SMALLINT                                   ,
week            SMALLINT                                   ,
month           SMALLINT                                   ,
year            SMALLINT                                   ,
weekday         SMALLINT    
)
"""
%sql $query

 * postgresql://dwhuser:***@dwhcluster.cpvcb67wulhg.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [108]:
# Load data from staging tables to time (dimension) table
query = ("""INSERT INTO time (start_time, hour, day, week, month, year, weekday)
WITH temp_time AS (SELECT TIMESTAMP 'epoch' + (ts/1000 * INTERVAL '1 second') AS ts FROM staging_events)
SELECT DISTINCT                           t.ts   ,
       EXTRACT(hour    FROM t.ts)    AS   hour   ,
       EXTRACT(day     FROM t.ts)    AS   day    ,
       EXTRACT(week    FROM t.ts)    AS   week   ,
       EXTRACT(month   FROM t.ts)    AS   month  ,
       EXTRACT(year    FROM t.ts)    AS   year   ,
       EXTRACT(weekday FROM t.ts)    AS   weekday      
FROM temp_time t JOIN songplay s ON t.ts = s.start_time
""")
%sql $query

 * postgresql://dwhuser:***@dwhcluster.cpvcb67wulhg.us-west-2.redshift.amazonaws.com:5439/dwh
4335 rows affected.

[]

In [102]:
# Check time table
query = """
SELECT COUNT(*) FROM time
"""
%sql $query

 * postgresql://dwhuser:***@dwhcluster.cpvcb67wulhg.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(4335,)]

## STEP 7: Clean up resources

Delete the created resources

In [109]:
# Delete the created resources
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)

{'Cluster': {'ClusterIdentifier': 'dwhcluster',
  'NodeType': 'dc2.large',
  'ClusterStatus': 'deleting',
  'MasterUsername': 'dwhuser',
  'DBName': 'dwh',
  'Endpoint': {'Address': 'dwhcluster.cpvcb67wulhg.us-west-2.redshift.amazonaws.com',
   'Port': 5439},
  'ClusterCreateTime': datetime.datetime(2023, 2, 22, 6, 11, 0, 818000, tzinfo=tzlocal()),
  'AutomatedSnapshotRetentionPeriod': 1,
  'ClusterSecurityGroups': [],
  'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-0ae23fba77290eb1f',
    'Status': 'active'}],
  'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
    'ParameterApplyStatus': 'in-sync'}],
  'ClusterSubnetGroupName': 'default',
  'VpcId': 'vpc-046f131d8b4abbc2a',
  'AvailabilityZone': 'us-west-2d',
  'PreferredMaintenanceWindow': 'mon:06:30-mon:07:00',
  'PendingModifiedValues': {},
  'ClusterVersion': '1.0',
  'AllowVersionUpgrade': True,
  'NumberOfNodes': 1,
  'PubliclyAccessible': True,
  'Encrypted': False,
  'Tags': [],
  'EnhancedVpcRouting': False,
  'IamRoles': [{'IamRoleArn': 'arn:aws:iam::306479194922:role/dwhRole',
    'ApplyStatus': 'in-sync'}],
  'MaintenanceTrackName': 'current'},
 'ResponseMetadata': {'RequestId': 'ff68046b-9b57-4d0b-bea3-78d54cf74f55',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'ff68046b-9b57-4d0b-bea3-78d54cf74f55',
   'content-type': 'text/xml',
   'content-length': '2711',
   'date': 'Wed, 22 Feb 2023 07:24:56 GMT'},
  'RetryAttempts': 0}}

This block will be several times until the cluster really deleted

In [110]:
myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,deleting
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.cpvcb67wulhg.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-046f131d8b4abbc2a
7,NumberOfNodes,1

Detach role policy and delete role

In [111]:
# Detach role policy and delete role
iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)

{'ResponseMetadata': {'RequestId': '493593b0-28b8-4d2d-a320-035ea663a85d',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '493593b0-28b8-4d2d-a320-035ea663a85d',
   'content-type': 'text/xml',
   'content-length': '200',
   'date': 'Wed, 22 Feb 2023 07:25:05 GMT'},
  'RetryAttempts': 0}}